<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wezpigulke">

    <uses-permission android:name="android.permision.CALL_PHONE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name="com.wezpigulke.Welcome.GoToWelcome"
            android:label="Weź pigułkę"
            android:configChanges="orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.wezpigulke.SideMenu.SideMenu"
            android:label="Dzisiaj"
            android:theme="@style/AppTheme.NoActionBar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wezpigulke.Reminder.AddReminder"
            android:label="Dodawanie przypomnienia"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wezpigulke.Doctor.AddDoctor"
            android:label="Dodaj lekarza"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wezpigulke.Profiles.AddProfile"
            android:label="Dodaj profil"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wezpigulke.Visit.AddVisit"
            android:label="Dodaj wizytę"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wezpigulke.Medicine.AddMedicine"
            android:label="Dodaj lek"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wezpigulke.Notes.AddNotes"
            android:configChanges="orientation"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wezpigulke.Measurement.AddMeasurement"
            android:label="Dodaj pomiar"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wezpigulke.TypeMeasurement.AddTypeMeasurement"
            android:label="Dodaj typ badania"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.wezpigulke.NotificationSystem.RepeatingActivityReminder"
            android:label="Weź tabletkę"
            android:launchMode="singleTop" />

        <activity
            android:name="com.wezpigulke.NotificationSystem.RepeatingActivityVisit"
            android:label="Wizyta u lekarza" />

        <receiver android:name="com.wezpigulke.NotificationSystem.NotificationReceiver" />

        <receiver android:name="com.wezpigulke.NotificationSystem.ButtonIntent" />

    </application>

</manifest>