<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wezpigulke">

    <uses-permission android:name="android.permision.CALL_PHONE" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.intent.action.QUICKBOOT_POWERON" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <receiver android:name=".widget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <service android:name=".other.OnClearFromRecentService" android:stopWithTask="false" />

        <service android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

        <activity
            android:name=".go_to.GoToWelcome"
            android:configChanges="orientation"
            android:label="Powitanie"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".SideMenu"
            android:configChanges="orientation"
            android:label="Weź pigułkę"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".add.AddReminder"
            android:configChanges="orientation"
            android:label="Dodawanie przypomnienia"
            android:screenOrientation="portrait" />

        <activity
            android:name=".add.AddDoctor"
            android:configChanges="orientation"
            android:label="Dodaj lekarza"
            android:screenOrientation="portrait" />

        <activity
            android:name=".add.AddProfile"
            android:configChanges="orientation"
            android:label="Dodaj profil"
            android:screenOrientation="portrait" />

        <activity
            android:name=".add.AddVisit"
            android:configChanges="orientation"
            android:label="Dodaj wizytę"
            android:screenOrientation="portrait" />

        <activity
            android:name=".add.AddMedicine"
            android:configChanges="orientation"
            android:label="Dodaj lek"
            android:screenOrientation="portrait" />

        <activity
            android:name=".add.AddNotes"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".add.AddMeasurement"
            android:configChanges="orientation"
            android:label="Dodaj pomiar"
            android:screenOrientation="portrait" />

        <activity
            android:name=".add.AddTypeMeasurement"
            android:configChanges="orientation"
            android:label="Dodaj typ badania"
            android:screenOrientation="portrait" />

        <activity
            android:name=".go_to.GoToMedicineInformation"
            android:configChanges="orientation"
            android:label="Informacje o leku"
            android:screenOrientation="portrait" />

        <activity
            android:name=".notification.RepeatingActivityReminder"
            android:label="Weź tabletkę" />

        <activity
            android:name=".notification.RepeatingActivityVisit"
            android:label="Wizyta u lekarza" />

        <receiver
            android:name=".notification.NotificationReceiver"
            android:enabled="true"
            android:exported="true"
            tools:ignore="ExportedReceiver" />

        <receiver
            android:name=".notification.BootCompletedNotificationReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

        <receiver android:name=".notification.ButtonIntent" />

    </application>
</manifest>